body {
  background-color: #f4f2fe;
  font-family: "Roboto", sans-serif;
}

img {
  width: 170px;
  position: relative;
  top: -37px;
  bottom: -10px;
  left: -52px;
}

header {
  border-bottom: 1px solid #aa5d40;
  padding: 0 0 15px 0;
  box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.5);
  border-radius: 6px;
}

main {
  padding: 20px;
}

footer {
  border-top: 1px solid #aa5d40;
  padding: 20px 0 0 0;
  text-align: center;
  font-size: 13px;
  color: #371610;
  background-image: url(" ../media/Acoo.jpg");
  border-radius: 15px;
  padding-top: 0;
  padding-bottom: 5px;
  font-size: 13px;
  font-weight: bold;
  box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.5);
}

.weather-app-city {
  margin: 0;
  font-size: 38px;
  line-height: 48px;
}

.weather-app-details {
  font-size: 16px;
  line-height: 28px;
}

.weather-app {
  display: flex;
  justify-content: space-between;
  background-image: url(" ../media/Acoo.jpg");
  margin: 0;
  padding: 50px 20px 50px 20px;
  border-radius: 15px;
  box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.5);
}

.humidity {
  color: blue;
}

.wind-speed {
  color: blue;
}

.link {
  text-decoration: none;
  color: blue;
}
.link:hover {
  cursor: pointer;
  text-decoration: underline;
  color: #371610;
}

.wrapper {
  background-color: #83532e;
  color: black;
  max-width: 600px;
  margin: 50px auto;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 10px 30px 50px rgba(65, 58, 100, 0.7);
  border: 2px solid #332a28;
}

.weather-app-container {
  display: flex;
}

.weather-app-value {
  font-size: 88px;
  font-weight: bold;
  line-height: 88px;
  margin-left: 10px;
  color: blue;
}

.weather-app-icon {
  width: 88px;
  height: 88px;
  margin-right: -65px;
  margin-top: 40px;
}

.weather-app-unit {
  margin-top: 6px;
  font-size: 28px;
  color: blue;
}

.search-form-input {
  background-color: #f4f2fe;
  border: 2px solid #371610;
  border-radius: 6px;
  width: 70%;
  padding: 15px 20px;
  font-size: 16px;
  border-radius: 16px;
  margin: 0 80px;
  box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.5);
}

.search-button {
  background-color: #371610;
  color: white;
  border: 1px solid white;
  border-radius: 16px;
  width: 15%;
  padding: 15px 20px 15px 18px;
  margin: 0 -80px;
  font-size: 16px;
  box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.5);
}

.search-button:hover {
  cursor: pointer;
  background-color: white;
  border: 2px solid #371610;
  color: #371610;
}

.search-form {
  margin: -60px 20px 10px 30px;
  padding: 0;
}

.hand-arrow-right {
  font-size: 16px;
  padding-left: 15px;
}

.hand-arrow-left {
  font-size: 16px;
  padding-right: 15px;
}
